- name: "Den Hengst Homelab"
  items:
    - name: "Home Assistant"
      icon: "home-assistant"
      url: "https://homeassistant.{{ duckdns_domain }}.duckdns.org"
    - name: "Portainer"
      icon: "docker"
      url: "https://portainer.{{ duckdns_domain }}.duckdns.org"
    - name: "Vaultwarden"
      icon: "lock"
      url: "https://vault.{{ duckdns_domain }}.duckdns.org"
