- Infrastructuur:
    - Portainer:
        icon: portainer
        href: "https://portainer.{{ duckdns_domain }}.duckdns.org"
        description: Docker Management
    - Home Assistant:
        icon: home-assistant
        href: "https://home.{{ duckdns_domain }}.duckdns.org"
        description: Smart Home
    - Zigbee2MQTT:
        icon: zigbee2mqtt
        href: "https://zigbee.{{ duckdns_domain }}.duckdns.org"
        description: Zigbee Bridge
