/caddy/
/crowdsec/
/duckdns/
/esphome/
/flame/
/gotify/
/homeassistant/
/matter_server/
/mosquitto/
/portainer/
/postgres/
/rtl_433/
/vaultwarden/
/zigbee2mqtt/
/zwavejsui/
/rclone/
/rsync/
**/vault.yml
**/secret.yml
.vault_pass*
rclone.conf
*.log
*.db
.DS_Store
.vscode/
