{{ duckdns_domain }}.{{ domain }} {
    reverse_proxy flame:5005 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}

{{ zigbee_subdomain }}.{{ duckdns_domain }}.{{ domain }} {
    reverse_proxy zigbee2mqtt:8080
}

{{ ha_subdomain }}.{{ duckdns_domain }}.{{ domain }} {
    reverse_proxy homeassistant:8123
}
