persistence true
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log

# Luister op de standaard poort
listener 1883
# Voor nu even geen wachtwoord nodig (lokaal netwerk)
allow_anonymous true
