homeassistant: true
permit_join: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://mosquitto' # We gebruiken de containernaam als host
serial:
  port: /dev/ttyUSB0
  adapter: zstack  # Cruciaal voor jouw kloon/CC-chipset
frontend:
  port: 8080
advanced:
  network_key: GENERATE
