# Home Assistant Core Configuration
homeassistant:
  name: "{{ vault_homelab_name }}"
  time_zone: "{{ timezone }}"
  external_url: "https://{{ ha_subdomain }}.{{ duckdns_domain }}.{{ domain }}"
  internal_url: "http://homeassistant:8123"
  packages: !include_dir_named packages

# Vervanger voor default_config om duplicaten te voorkomen
config:
frontend:
history:
image:
logbook:
map:
mobile_app:
my:
person:
scene:
script:
sun:
system_health:
tag:
updater:
zone:

# HTTP & trusted proxies
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - {{ docker_network_range }}
    - {{ local_network_range }}

# Database
recorder:
  db_url: postgresql://homeassistant:{{ vault_postgres_password }}@postgres_db/homeassistant
  purge_keep_days: 30
  commit_interval: 30

# Omgevingssensoren
sensor:
  - platform: rest
    name: "Luchtkwaliteit_Schalkwijk"
    resource: "https://api.luchtmeetnet.nl/open_api/stations/NL01488/measurements?formula=PM25"
    value_template: "{% raw %}{{ value_json.data[0].value }}{% endraw %}"
