default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 172.16.0.0/12

recorder:
  db_url: postgresql://homeassistant:{{ vault_postgres_password }}@postgres_db/homeassistant
  purge_keep_days: 30

mqtt:
  broker: mosquitto
  discovery: true

homeassistant:
  name: "Henry's Homelab"
  time_zone: "Europe/Amsterdam"
  external_url: "https://{{ ha_subdomain }}.{{ domain }}"
  internal_url: "http://homeassistant:8123"
